{% extends 'main.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    h2 {
        color: #333;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    li {
        margin-bottom: 10px;
    }
</style>

<h1><center><b>Disaster Safety Guidelines</b></center></h1>
<h3>Earthquakes</h3>
<ul>
    <li>Drop, cover, and hold on: Drop to the ground, take cover under a sturdy table or desk if possible, and hold on until the shaking stops.</li>
    <li>Stay away from windows and heavy furniture: Glass and objects can break and fall during an earthquake.</li>
    <li>Evacuate tall buildings and structures: After the shaking stops, evacuate tall buildings and structures as soon as it is safe to do so.</li>
    <li>Prepare an emergency kit: Have a disaster supply kit that includes food, water, first-aid supplies, and other essential items in case of an earthquake.</li>
</ul>

<h3>Hurricanes and Tropical Storms</h3>
<ul>
    <li>Evacuate if advised: If you are in a coastal area and the authorities issue an evacuation order, leave as soon as possible.</li>
    <li>Secure your property: Take steps to secure your property and protect it from potential damage.</li>
    <li>Have a disaster supply kit: Include food, water, first-aid supplies, a battery-powered radio, flashlights, and other essential items.</li>
    <li>Stay informed: Stay informed about the latest developments and any new warnings or evacuation orders.</li>
</ul>

<h3>Tornadoes</h3>
<ul>
    <li>Take cover: If you are indoors, go to a basement, storm cellar, or an interior room on the lowest floor.</li>
    <li>Stay away from windows: Windows can break during a tornado, so try to stay away from them.</li>
    <li>Protect your head: Cover your head with your hands or a pillow to protect yourself from falling debris.</li>
    <li>Evacuate mobile homes: Mobile homes are not safe during tornadoes, so evacuate to a nearby building or shelter if possible.</li>
</ul>
{% endblock %}