{% extends 'main.html' %}

{% block content %}
<style>
    body {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        backdrop-filter: blur(3px);
    }

    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
    }

    .btn-custom {
        color: rgb(7, 172, 7);
        background-color: white;
        border: 2px solid rgb(7, 172, 7);
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 10px;
    }

    .btn-custom:hover {
        background-color: rgb(7, 172, 7);
        color: white;
    }
</style>

<section class="vh-100">
    <div class="container py-1 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100 w-auto border-opacity-10">
            <div class="col-md-5 col-lg-5 col-xl-5 offset-xl-0">
                <div>
                    <h1 style="font-family: 'Josefin Slab', serif; font-size:60px; font-weight: 150; color:green;">
                        <center>Register</center>
                    </h1>
                </div>
                <a href="{% url 'signup_vol' %}">
                    <div class="btn-custom">
                        <b>Volunteer Signup</b>
                    </div>
                </a>
                <span>OR</span>
                <a href="{% url 'signup_org' %}">
                    <div class="btn-custom">
                        <b>Organization Signup</b>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
